<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Expenses</title>
	<link rel="stylesheet" href="../resources/css/expenses.css">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body class="site">
	<header>
		<h1>My Monthly Expenses</h1>
	</header>
	<main class="site-content">
		<nav class="custom-nav">
			<ul>
				<li><a href="toDoList.html">Todo list</a></li>
				<li><a href="expenses.html">Expenses</a></li>
				<li><a href="media.html">Media</a></li>
				<li><a href="singUp.html">Form</a></li>
			</ul>
		</nav>
		<content>
			<!-- iv. Create another .html file. Create a table for your expenses.-->
			<table summary="a sumary of my family budget">
				<caption>Family Budget</caption>
				<thead>
					<tr>
						<th scope="col">Month</th>
						<th scope="col">Utility Bills</th>
						<th scope="col">FoodStuff</th>
						<th scope="col">Kinder Garden</th>
						<th scope="col">Credit Card</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="5">Budget 2016 by Felisa</td>
					</tr>
				</tfoot>		
				<tbody>
					<tr>
						<th scope="row">March</th>
						<td>$120</td>
						<td>$200</td>
						<td>$150</td>
						<td>$200</td>
					</tr>
					<tr>
						<th scope="row">April</th>
						<td>$110</td>
						<td>$250</td>
						<td>$150</td>
						<td>$400</td>
					</tr>
					<tr>
						<th scope="row">May</th>
						<td>$105</td>
						<td>$200</td>
						<td>$150</td>
						<td>$250</td>
					</tr>
				</tbody>
			</table>
		</content>
		
	</main>
	<footer>
		
	</footer>
</body>
</html>