body {
	background-color:  #fff;
	background-image: url("./../images/house.jpg");
	background-size: 42%;
	background-repeat: no-repeat;
	height: 100%;
}
.content-left {
	width: 40%;
	float: left;
	margin-top: 430px;
}
.article-l {
	padding: 40px;
}
.section-l {
	line-height: 30px;
	text-align: justify;
}

.content-right {
	width: 60%;
	float: right;
	background-color: #00b3b3;
	text-align: center;
	border: 50px;
}
.header-r {
	padding: 50px;
	text-align: center;
	margin: 0px 100px 0 100px;
	font-size: 28px;
	font-family: 'Cardo', serif;
	font-style: italic;
	color: #fff;
}
h2 {
	color: #006666;
	text-transform: uppercase;
}
h4 {
	color: #006666;
}
.article-r-l {
	width: 40%;
	display: inline-block;
	padding: 40px;

	 border-right: 3px dashed #066666;
}
.section-r-l{
	text-align: justify;
	font-size: 20px;
	color: #ffffff;
}
.article-r-r {
	width: 40%;
	display: inline-block;
	padding: 40px;
}
.section-r-r{
	text-align: justify;
	font-size: 20px;
	color: #ffffff;

}
#foot-r {
	font-weight: bold; 
	padding: 68px 50px 50px 50px;
	font-size: 17px;
	color: #fff;
}
#foot-r a {
	text-decoration: none;
}
#foot-r a:link {
	color: #fff;
}
#foot-r a:visited {
	color: #ffcce0;
}
#foot-r a:hover {
	color: #ffb3d1;
}
.footer-l {
	position: fixed;
   	left: 0p;
   	bottom: 0;
   	font-variant: small-caps;
	width: 37%;
	display: -webkit-inline-box; 
	background-color: #fff; 

}
.magazine{
	margin-left: 80px;
}	

