*{
	padding: 0;
	margin: 0;
}

body {
	font-size: 16px;
	background-image: url("./../images/thalia.png");
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
}
img {
	border: 4px solid white;
	width: 45%;
}
 img {
	position: relative;
}
h2 {
	font-size: 1.4rem;
	color: black;
	padding-left: 15px;
	
}
/*header img {
	width: 600px;
	margin: 20px;
}*/
header {
	margin: 20px;
	position: relative;
	display: inline-block;
	background-color: red;
	border: 4px solid white;
	text-transform: uppercase; 
}
h1 {
	font-size: 13rem;
	line-height: 207px;
	font-family: 'Roboto', sans-serif;
}
#tittle-header {
	float: left;
	padding-top: 39px;
}
#mark-header {
	float: left;
	
}

.main {
	font-weight: bold;
	margin: 20px;
	
}

#line1 {
	font-size: 5rem;
	text-decoration: underline;
}
#line2 {
	font-size: 3.5rem;
	text-transform: uppercase;
}

#line3 {
	font-size: 8.5rem;
	text-transform: uppercase;
}

#line4 {
	font-size: 4.5rem;
	text-transform: uppercase;
}
#line5 {
	font-size: 3.4rem;
	padding-bottom: 150px;
}
footer {
	background-color: red;
	bottom: 0;
	width: 100%;
}
footer p {
	text-align: center;
	font-size: 2.8rem;
	text-transform: uppercase;
	padding-top: 50px;

}

.photo-footer img {
	height: 400px;
	width: 300px;
	margin-top: -70px;
}
.photo-left {
	float: left;
	margin-left: 20px;
}
.photo-right {
	float: right;
	margin-right: 20px;
}

