@import "normalize.css"

body{
	font-family: helvetica, sans-serif;
}

.container {
	background-color: #80002a;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	padding: 1%;
	color: #fff;
	text-align: center;
	border-radius: 10px;

}

.header, .footer {
	background-color: #cc0044;
	padding: 5px;
	border-radius: 5px;
}

.main {
	display: flex;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex;     /* NEW - Chrome */
  	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.navigator{
	background-color: #cc0044;
	border-radius: 5px;
	width: 25%
}
li {
	list-style: none;
	padding-top: 10px;
}

section {
	background-color: #cc0044;
	border-radius: 5px;
	width: 48%;
	margin: 0 auto;
	

}

.section {
	background-color: #ff3377;
	border-radius: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

article {
	padding-bottom: 20px;
}

.sidebar {
	background-color: #cc0044;
	border-radius: 5px;
	width: 25%	
}
[class*=a]:hover {
	background-color: #008080;
}

[class$=r]:hover {
	background-color:  #e6e600; 
}

[class$=r] {
	font-weight: bolder;
}
.oh-no-inline-styles{
	margin: 10px auto;
	padding: 20px;
	width: 100px;
	height: 100px;
	background-color: red;

}
[class$=s]{
	background-color: green !important;
}