<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Practice</title>
	<link rel="stylesheet" href="../resources/css/main.css">
</head>
<body>
	<div class="main">
		<section id="gretting-section">
			<h1>Hello World</h1>
		</section>
		<section id="joke">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim adminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderitin voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 	officiadeserunt mollit anim id est laborum.</p>
		</section>
		<button onclick="my-function()">Click me</button>
	</div>

	<script type="text/javascript"  src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript"  src="../resources/js/main.js"></script>
</body>
</html>
	
	
				