<!--1. Open your IDE, create a new file text, save it as index.html. Add the correct doctype, and a few tags with random content.-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Get Joke</title>
	<!--2. Add a stylesheet to the index.html. Use the stylesheet to center the text of all section elements of the page.-->
	<link rel="stylesheet" href="../resources/css/joke.css">
	<link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">
		<!--3. Add a hidden section with the following text inside: "Hello world".-->
		<!--3.1 Add a Section with an Id.-->
		<section id="greeting-section">
			<h1>Hello World!</h1>
		</section>
		<section id="norris-jokes" class="norris-section">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
		</section>
		<!--5. Add a button below the section to your index.html.-->
		<button id="btn-joke">Get Joke</button>
		<button id="btn-error">Get Error</button>
	</div>
	<!--4. When the page has finished loading the section must fade in. Hint: Use JavaScript, Browser Events, and CSS3-->
	<!--4.1 Link my js file-->
	<script type="text/javascript" src="../resources/js/main.js"></script>
</body>
</html>