<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Media</title>
	<link rel="stylesheet" href="../resources/css/media.css">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body class="site">
	<header>
		<h1>Adding image, sound and video</h1>		
	</header>
	<main class="site-content">
		<nav class="custom-nav">
			<ul>
				<li><a href="toDoList.html">Todo list</a></li>
				<li><a href="expenses.html">Expenses</a></li>
				<li><a href="media.html">Media</a></li>
				<li><a href="singUp.html">Form</a></li>
			</ul>
		</nav>
		<content>
			<div id="audio">
				<audio controls>
		  			<source src="../resources/audio/guitar.mp3" type="audio/mpeg">
		  			Your browser does not support the audio element.
				</audio>
				<div class="container">
					<p>Listen to a breakbeat</p>
				</div>
			</div>
			<div class="polaroid">
				<img src="../resources/images/guitar.jpeg" alt="guitar">
				<div class="container">
					<p>For those who love music...</p>
				</div>
			</div>
			<div class="polaroid">
				<video height="317" width="476" controls>
					<source src="../resources/video/guitar-close.mp4" type="video/mp4">
					Your browser does not support the video tag.
				</video>
				<div class="container">
					<p>Do you play guitar?</p>
				</div>
			</div>
		</content>
	</main>
	<footer>
		
	</footer>
</body>
</html>