<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Exercises</title>
	<link rel="stylesheet" href="../resources/css/toDoList.css">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body class="site">
	<header> 
		<!-- i. Create a basic .html file with a header displaying "Hello World". 
		<h1>Hello world!</h1> -->
		<!-- ii. Change the header to "My todo list". -->
		<h1>My to do List</h1>

	</header>
	<main class="site-content">
		<!-- iii. Add a list of "todo items" for your daily chores. -->
		<nav class="custom-nav">
			<ul>
				<li><a href="toDoList.html">Todo list</a></li>
				<li><a href="expenses.html">Expenses</a></li>
				<li><a href="media.html">Media</a></li>
				<li><a href="singUp.html">Form</a></li>
			</ul>
		</nav>
		<content class="show-info">
			<ul class="list">
				<li><input type="checkbox"/>Wake Up at 6am</li>
				<li><input type="checkbox"/>Take a Shower</li>
				<li><input type="checkbox"/>Have a breakfast</li>
				<li><input type="checkbox"/>Take my daughter to school</li>
				<li><input type="checkbox"/>Design and development around 4 hours</li>
				<li><input type="checkbox"/>Have Lunch</li>
				<li><input type="checkbox"/>Study or practice</li>
				<li><input type="checkbox"/>Take my daughter back to home</li>
				<li><input type="checkbox"/>Spent time with my family</li>
			</ul>
		</content>
	</main>
	<footer>
		
	</footer>
</body>
</html>