<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Test</title>
	<link rel="stylesheet" href="../resources/css/gallery.css">
</head>
<body>
	<header>
		<h1>Colors</h1>
	</header>
	<div class="main">
		<div class="box">
			<div class="img-content">
				<img src="../resources/images/baby.jpg" alt="bebe">
			</div>
			<div class="content">
				<p>Hola!</p>
			</div>
		</div>
		<div class="box">
			<div class="img-content">
				<img src="../resources/images/baby.jpg" alt="bebe">
			</div>
			<div class="content">
				<p>Hola!</p>
			</div>
		</div>
		<div class="box">
			<div class="img-content">
				<img src="../resources/images/baby.jpg" alt="bebe">
			</div>
			<div class="content">
				<p>Hola!</p>
			</div>
		</div>
		<div class="box">
			<div class="img-content">
				<img src="../resources/images/baby.jpg" alt="bebe">
			</div>
			<div class="content">
				<p>Hola!</p>
			</div>
		</div>
		<div class="box">
			<div class="img-content">
				<img src="../resources/images/baby.jpg" alt="bebe">
			</div>
			<div class="content">
				<p>Hola!</p>
			</div>
		</div>
		<div class="box">
			<div class="img-content">
				<img src="../resources/images/baby.jpg" alt="bebe">
			</div>
			<div class="content">
				<p>Hola!</p>
			</div>
		</div>
		
	</div>
	<footer>
		<p>Powered by Felisa Useche<br>2016</p>
	</footer>
</body>
</html>