<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Maquetar en css</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="../resources/css/normalize.css">
	<link rel="stylesheet" href="../resources/css/layout.css">
	<link href='https://fonts.googleapis.com/css?family=Cardo:400,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<content class="content-left">
		<div class="article-l">
			<article>
				<section class="section-l">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
				</section>	
				<section class="section-l">	
					<header>
						<h4>
							¿Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam e nisl pharetra in?
						</h4>
					</header>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. </p>
	            </section>
				<section class="section-l">
					<header>
						<h4>
							¿Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam e nisl pharetra in?
						</h4>
					</header>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
	            </section>
	        </article>
	        <footer class="footer-l">
	        	<p>50</p>
	        	<p class="magazine">Kirei Magazine</p>

	        	
	        </footer>

	    </div>        
	</content>
	<content class="content-right">
		<div class="header-r">
			<header>
				<h1>Mirada de 7 días, juego fotográfico</h1>
			</header>
		</div>	
		<div class="article-r-l">
			<article>
				<section class="section-r-l">
					<h2>Fotos de tus pies</h2>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in.</p>
	            </section>
			
				<section class="section-r-l">
					<h2>El amarillo</h2>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in.</p>
	            </section>
			
				<section class="section-r-l">
					<h2>Suelo</h2>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in.</p>
	            </section>
			
				<section class="section-r-l">
					<h2>Corrientes!</h2>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in.</p>
	            </section>
			
				<section class="section-r-l">
					<h2>Reflejos2</h2>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in.</p>
	            </section>
			
				<section class="section-r-l">
					<h2>Desayuno</h2>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in.</p>
	            </section>
			
				<section class="section-r-l">
					<h2>Arco iris</h2>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in.</p>
	            </section>
			
			</article>
		</div>	
		<div class="article-r-r">
			<article>
				<section class="section-r-r">
					<h2>Desenfoques</h2>
	               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in.</p>
	            </section>
			
				<section class="section-r-r">
					<h2>Sin rostro</h2>
	               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in.</p>
	            </section>
			
				<section class="section-r-r">
					<h2>Palabras</h2>
	               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in.</p>
	            </section>
			
				<section class="section-r-r">
					<h2>La mejor luz</h2>
	               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in.</p>
	            </section>
			
				<section class="section-r-r">
					<h2>En tus manos</h2>
	               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in.</p>
	            </section>
	            <section class="section-r-r">
					<h2>Rayos y truenos</h2>
	               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in.</p>
	            </section>
			
				<footer id="foot-r">
					<p><a href="http://www.jackierueda.com/m">wwww.jackierueda.com</a></p>
					<p><a href="http://casienserio.blogspot.com.co/">casienserio.blogspot.com.co</a></p>
					<p><a href="http://www.etsy.com/es/shop/Jackierueda">www.etsy.com/es/shop/Jackierueda</a></p>
	            </section>
			
			</article>
		</div>
	</content>
</body>
</html>