<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Magazine</title>
	<link rel="stylesheet" href="../resources/css/magazine.css">
</head>
<body>
	<header>
		<!--<img src="logohola.jpg">-->
		<h1>¡Hola!</h1>
		<h2>Esta es mi maqueta de la revista hola!</h2>
	</header>
	<div class="main">
		<p id="line1">Exclusiva</p>
		<p id="line2">Junto a su marido,<br/>Tommy Motola</p>
		<p id="line3">Thalia</p>
		<p id="line4">Nos presenta<br/>a Matthew<br/>Alejandro</p>
		<p id="line5">"Es un bebé<br/>maravilloso,<br/>nunca<br/> he estado<br/>tan locamente<br/>enamorada<br/>de un hombre"</p>
	</div>
	<footer>
		<div class="photo-footer photo-right">
			<img src="../resources/images/foto.jpg">
		</div>
		<div class="photo-footer photo-left">
			<img src="../resources/images/foto.jpg">
		</div>
		<p>Lucero, entevista exclusiva<br/>a corazón abierto <br/>Carolina Herrera nos presenta<br/>sus espectaculares vestidos -vintage- de alta costura</p>
	</footer>
</body>
</html>