<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Structure</title>
	<link rel="stylesheet" href="../resources/css/structure.css">
</head>
<body>
	<div class="container">
		<header class="header">
			<h1>header</h1>
		</header>
		<div class="main">
			<nav class="navigator">	
				<li>nav</li>
			</nav>
			<section>
				<header class="section">
					<h1>header</h1>
				</header>
				<article class="section">
					<p>article</p>
				</article>
				<footer class="section">
					<p>foter</p>
				</footer>
			</section>
			<aside class="sidebar">
				<p>aside</p>
			</aside>
		</div>
		<footer class="footer">
			<p>footer</p>
		</footer>
	</div>
	<div class="oh-no-inline-styles">
		
	</div>
</body>
</html>