<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Structure</title>
	<meta name="viweport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimu-scale=1.0">
	<link rel="stylesheet" href="../resources/css/structure.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<header>
			<h1>header</h1>
			</header>
		</div>

		<div class="main">
			<nav class="navigation">
				<li><h2>nav</h2></li>
			</nav>
			<section class="content">
				<h2>section</h2>
				<header class="section-in">
					<h3>header</h3>
				</header>
				<article class="section-in">
					<header class="article">
						<h4>article</h4>
					</header>
				</article>
				
				<footer class="section-in">
					<p>footer</p>
				</footer>
			</section>
			<aside class="side-bar">
				<h2>aside</h2>
			</aside>
		</div>
		<div class="footer">
			<footer>
				<p>footer</p>
			</footer>
		</div>
	</div>
	<div class="oh-no-inline-styles">
		
	</div>
</body>
</html>