@import 'main.css';

.list {
	color: #4f8ac9;
	float: none;
	list-style: none;
	padding: 12px;
	width: 100%;
}
input{
	width: 10px;
	margin: 5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    background-color: #ffffff;
    position: ;
    height: 100%;
    overflow: auto;
}